body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #555;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 450px;
    border: 2px solid black;
    border-radius: 26px;
    /* margin: 0 auto; */
    margin-left: 60px;
    margin-top: 150px;

}
/* p{
 padding-top: 4px;
} */
.btn1{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    
    
}
.container1{
    padding: 8px;
}
.btn1:hover{
    background-color: rgb(127, 208, 255);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn2{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    
}
.btn2:hover{
    background-color: rgb(255, 127, 133);
}
.btn3{
    width: 120px;
    height: 30px;
    border-radius: 15px;
    
}
.btn3:hover{
    background-color: #ff010e;
}
